# dependencies
node_modules/
ios/Pods/
android/.gradle/
.android/
.gradle/
.expo/
.expo-shared/

# builds & caches
build/
dist/
android/**/build/
ios/build/
*.log

# env & local
.env*
*.iml
.vscode/
.idea/
.DS_Store
